:root {
    --color-grey-border: #dce0ef;
    --color-grey-light: #f3f3f3;
    --color-blue: #1771f1;
    --color-green: #147e58;
    --color-purple: #9b57b6;
    --color-white: #ffffff;
    --color-black-header: #19232e;
    --color-black-body: #2d3136;
    --color-yellow: #f5dd0a;
    --color-yellow-black: #b3a528;
    --color-blue-black: #08051d;
}
