@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root {
    // font-family
    --font-family-default: 'Montserrat', sans-serif;

    // font weight
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    // line height

    --line-height-h2: 24px;
    --line-height-body1: 19.99px;
    --line-height-body2: 15.99px;

    // font-size

    --font-size-h2: 17.5px;
    --font-size-body1: 14px;
    --font-size-body2: 11.2px;
}
