.Loading {
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    &__spinner {
        border: 10px solid var(--color-grey-light);
        border-top: 10px solid var(--color-blue);
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
